################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/SpotifyMatch.Library/obj
/SpotifyMatch.GUI.Forms/obj
/.vs
*.user
